<div id="mainImg" style="position: relative;">
  <img id="mainImg" src="assets/Reportingviolations.svg" alt="violation reports" />
<div id="mainText">الإبلاغ عن المخالفات</div>
<div id="breadcrumb">
    <nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" >
        <ol class="breadcrumb" style="direction: ltr">
          <li class="breadcrumb-item active" >تقديم بلاغ</li>
          <li  class="breadcrumb-item " aria-current="page" routerLink="/visitor" style="cursor: pointer;">  الرئيسية </li>
          <img src="assets/whitebreadcrumb.svg" class="icon"/>
        
        </ol>
      </nav>
</div>

</div>
