

<div class="header">
    <span>نوع البلاغ</span>

    <span (click)="closeDialog()"><i class="bi bi-x fs-2" style="cursor: pointer;"></i></span>
</div>
<div class="contain">
        <!-- <img src="assets/check2.svg"/> -->
        <div class="checkicon"><i class="bi bi-check-lg"></i></div>
        <div id="text">تم {{data.successtype}} البلاغ رقم <span style="color: #33835C;">#123</span> {{data.content}} </div>
        <button class="btn greenbutton"  (click)="onclick()"> العودة للرئيسية </button>
</div>