.button {
    border-radius: 6px;
    border: 1px solid #33835C;
    background: rgba(51, 131, 92, 0.10);
    color: #33835C;
    font-family: Tajawal;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* padding: 5px 7px; */
    width: 100%;
    
}
.button:focus:active {
    color: #33835C;
    background-color: #9cb7aa9e;
}
.bi::before {
    vertical-align: middle;
} 