<div class="data" [ngStyle]="{'background-color': backgroundColor ,'border':borderr ,'padding':paddingg}">
  <div class="d-flex justify-content-between flex-wrap" style="width: 90%;">
      <div class="d-flex align-items-center">
        <img src="assets/country.svg" class="ps-2" />  
        <div class="text"><span class="texttitle">المدينة :</span> الرياض</div>
    </div>
      <div class="d-flex align-items-center">
        <img src="assets/admins.svg" class="ps-2"/>
        <div class="text"><span class="texttitle">الإدارة :</span> الرياض</div>
      </div>
      <div class="d-flex align-items-center">
        <img src="assets/branch.svg" class="ps-2"/>
        <div class="text"><span class="texttitle">الفرع :</span> الدرعية</div>
      </div>
    </div>

   <div class="d-flex align-items-center">
    <img src="assets/wifiicon.svg" class="ps-2" />  
    <div class="text"><span class="texttitle">القناة المستخدمة لرفع البلاغ :</span> اسم القناة</div>
   </div>
    <div class="d-flex align-items-center">
      <img src="assets/file.svg" class="ps-2" />  
        <div class="text"><span class="texttitle">أسماء الأشخاص المشتبه بهم :</span> أحمد علي - محمد راشد - سيد الشهري - أسامة داوود - علي زايد </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap" style="width: 90%;">
      <div class="d-flex align-items-center">
        <img src="assets/calendericon.svg" class="ps-2" />  
          <div class="text"><span class="texttitle">تاريخ إرتكاب المخالفة :</span> 23-12-2023</div>
      </div>
      <div class="d-flex align-items-center">
        <img src="assets/calendericon.svg" class="ps-2" /> 
          <div class="text"><span class="texttitle">تاريخ العلم بالمخالفة :</span> 30-12-2023</div> 
      </div>
  </div>

  <div class="d-flex align-items-center">
    <img src="assets/locationicon.svg" class="ps-2" />  
      <div class="text"><span class="texttitle">مكان حدوث المخالفة  :</span>  مع, تقاطع شارع ام الحمام</div>
  </div>
  <div class="d-flex align-items-center">
    <img src="assets/file.svg" class="ps-2" />  
    <div class="text"><span class="texttitle">نص البلاغ :</span>  أريد أن أتقدم بشكوي ضد الأشخاص الذي تم ذكرهم لقيامهم باعمال فاسدة ضد الدولة</div>
</div>
</div>