button {
    font-family: Tajawal;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px 17px; 
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
  }
  .frontBtn {
    background: #33835C;
    border: 1px solid #33835C;
    color: #FFF;
  }
  .frontBtn:focus:active {
    border: 1px solid #33835C;
    background: #FFF;
    color: #33835C;
  }