.images {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    flex-wrap: wrap;
    direction: rtl !important;
  }
  .text  {
    color: rgba(0, 0, 0, 0.80);
    text-align: right;
    font-family: Tajawal;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
  .text {
    font-weight: 500 !important; 
  }
  .boxdata {
    /* padding: 16px; */
    border-radius: 10px;
    /* border: 1px solid #E6E6E6; */
    /* background: #F6F6F6; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    width: 100%;
    direction: ltr  !important;
  }