<div class="boxdata" >
    <div class="d-flex align-items-center">
        <img src="assets/gallery.svg" class="ps-2" />
        <div class="text">الصور و الفيديوهات (4)</div>
    </div> 
      <div class="images">
         <img class="img" src="assets/img1.svg"/>
         <img class="img" src="assets/img2.svg"/>
         <img class="img" src="assets/img3.svg"/>
         <img class="img" src="assets/img4.svg"/>
      </div>  
    
    <div style="border: 1px solid rgba(0, 0, 0, 0.09);  width: 100%;"></div>
    
    <div class="d-flex align-items-center">
        <img src="assets/file2.svg" class="ps-2" /> 
        <div class="text">الملفات (1) </div>
        <div class="file">
    
        </div>
    </div>      
</div>