.contain {
    padding: 83px 60px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button {
    border-radius: 6px;
    border: 1px solid #33835C;
    background: rgba(51, 131, 92, 0.10);
    color: #33835C;
    font-family: Tajawal;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bigdiv {
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    background: #EFEFEF;
    display: flex;
    padding: 32px ;
    justify-content: center;
    align-items: center;
}
.smalldiv {
    border-radius: 10px;
    background: #F6F6F6;
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
    width: 100%;
}